NodeRED-webhook/msteams_messagecard.json
[{"id":"9717cb75.62acd8","type":"tab","label":"TheHive4 Webhooks","disabled":false,"info":""},{"id":"6f61a06a.f95f3","type":"switch","z":"9717cb75.62acd8","name":"create","property":"payload.objectType","propertyType":"msg","rules":[{"t":"eq","v":"case","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":300,"wires":[["39ce3b0e.59a2a4"]]},{"id":"39ce3b0e.59a2a4","type":"function","z":"9717cb75.62acd8","name":"case","func":"return msg;","outputs":1,"noerr":0,"x":1030,"y":300,"wires":[["6b9312d9.a181ec"]]},{"id":"6b9312d9.a181ec","type":"function","z":"9717cb75.62acd8","name":"Create custom object","func":"msg.url = msg.teams;\nmsg.payload.custom = {}\nmsg.payload.custom.link = \"https://thehive4.agood.cloud/index.html#!/case/\" + msg.payload.details._id + \"/details\";\n\nswitch(msg.payload.details.severity) {\n    case 1:\n        msg.payload.custom.severity = 'Low';\n        break;\n    case 2:\n        msg.payload.custom.severity = 'Medium';\n        break;\n    case 3:\n        msg.payload.custom.severity = 'High';\n        break;\n    case 4:\n        msg.payload.custom.severity = 'Critical';\n        break;\n}\n\nswitch(msg.payload.details.tlp){\n    case 0:\n        msg.payload.custom.tlp_image = 'https://www.us-cert.gov/sites/default/files/tlp/tlp_icons_small/TLP-ICONS_RGB_WHITE_sm.png'\n        msg.payload.custom.tlp = 'White'\n        break;\n    case 1:\n        msg.payload.custom.tlp_image = 'https://www.us-cert.gov/sites/default/files/tlp/tlp_icons_small/TLP-ICONS_RGB_GREEN_sm.png'\n        msg.payload.custom.tlp = 'Green'\n        break;\n    case 2:\n        msg.payload.custom.tlp_image = 'https://www.us-cert.gov/sites/default/files/tlp/tlp_icons_small/TLP-ICONS_RGB_AMBER_sm.png'\n        msg.payload.custom.tlp = 'Amber'\n        break;\n    case 3:\n        msg.payload.custom.tlp_image = 'https://www.us-cert.gov/sites/default/files/tlp/tlp_icons_small/TLP-ICONS_RGB_RED_sm.png'\n        msg.payload.custom.tlp = 'Red'\n        break;\n        \n}\n\nswitch(msg.payload.details.pap) {\n    case 0:\n        msg.payload.custom.pap = 'White';\n        break;\n    case 1:\n        msg.payload.custom.pap = 'Green';\n        break;\n    case 2:\n        msg.payload.custom.pap = 'Amber';\n        break;\n    case 3:\n        msg.payload.custom.pap = 'Red';\n        break;\n}\n\nmsg.payload.custom.title = \"New Case Alert: Case #\" + msg.payload.details.number + \" - \" + msg.payload.details.title\nmsg.payload.custom.tags  = (msg.payload.details.tags).join(' ')\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":300,"wires":[["3ffb092a.7bf6b6"]]},{"id":"47dc4e6b.9be36","type":"http in","z":"9717cb75.62acd8","name":"TheHive4 Listener","url":"/TH4","method":"post","upload":false,"swaggerDoc":"","x":230,"y":400,"wires":[["4eea3c14.7ce0f4"]]},{"id":"4eea3c14.7ce0f4","type":"function","z":"9717cb75.62acd8","name":"Add headers","func":"msg.teams = 'https://<MSTEAMS_WEBHOOK_URL>';\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["a450775b.27b2d8"]]},{"id":"a450775b.27b2d8","type":"switch","z":"9717cb75.62acd8","name":"Operation","property":"payload.operation","propertyType":"msg","rules":[{"t":"eq","v":"create","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"delete","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":660,"y":400,"wires":[["6f61a06a.f95f3"],["5f5af3fd.24b8bc"],["41816033.51c91"]]},{"id":"667f6134.ced2c","type":"http request","z":"9717cb75.62acd8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":300,"wires":[[]]},{"id":"cf5f6856.621b58","type":"inject","z":"9717cb75.62acd8","name":"inject new case","topic":"","payload":"{\"operation\":\"create\",\"objectType\":\"case\",\"details\":{\"_id\":100,\"number\":100,\"title\":\"This is the case title\",\"description\":\"Generated event from Nodered inject\",\"status\":\"Open\",\"_createdBy\":\"person@example.com\",\"assignee\":\"person@example.com\",\"severity\":1,\"tlp\":3,\"pap\":1,\"tags\":[\"TagA\",\"TagB\"]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["4eea3c14.7ce0f4"]]},{"id":"3ffb092a.7bf6b6","type":"function","z":"9717cb75.62acd8","name":"MessageCard","func":"msg.payload = {\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"New case created in TheHive\",\n    \"sections\": [\n        {\n            \"activityTitle\": msg.payload.custom.title,\n            \"activityImage\": msg.payload.custom.tlp_image,\n            \"activityImageType\": \"article\",\n            \"activitySubtitle\": msg.payload.details.description,\n            \"facts\": [\n                {\n                    \"name\": \"Severity\",\n                    \"value\": msg.payload.custom.severity\n                },\n                {\n                    \"name\": \"Status\",\n                    \"value\": msg.payload.details.status\n                },\n                {\n                    \"name\": \"Created By\",\n                    \"value\": msg.payload.details._createdBy\n                },\n                {\n                    \"name\": \"Assigned to\",\n                    \"value\": msg.payload.details.assignee\n                },\n                {\n                    \"name\": \"TLP\",\n                    \"value\": msg.payload.custom.tlp\n                },\n                {\n                    \"name\": \"PAP\",\n                    \"value\": msg.payload.custom.pap\n                },\n                {\n                    \"name\": \"Tags\",\n                    \"value\": (msg.payload.details.tags).join(' ')\n                }\n                \n            ],\n            \"markdown\": true,\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@context\": \"http://schema.org\",\n            \"@type\": \"ViewAction\",\n            \"name\": \"View in TheHive\",\n            \"target\": [\n                msg.payload.custom.link\n            ]\n        }\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":340,"wires":[["667f6134.ced2c"]]},{"id":"5f5af3fd.24b8bc","type":"switch","z":"9717cb75.62acd8","name":"update","property":"payload.objectType","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":400,"wires":[[]]},{"id":"41816033.51c91","type":"switch","z":"9717cb75.62acd8","name":"delete","property":"payload.objectType","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":500,"wires":[[]]}]
